html, body {
    height:100%;
    margin: 0px;
    padding: 0px;
}
#MainContainer{
    display:grid;
    grid-template-rows: auto 150px;
    background-color:red;
    width: 100%;
    height: 100%;
}
#MessageContainer{
    scrollbar-color: red yellow;
    overflow-y: auto;
    overflow-x: hidden;
    background-color:yellow;
    margin: 30px 100px 30px 100px ;
}
#SendMessage{
    height: 150px;
    display:grid;
    grid-template-columns: auto 150px;
    background-color:green;
    margin: 0px 100px 30px 100px ;

}
#textArea{
    resize: none;
}
#imageButton{
    background-size: cover;
    width: 150px;
    height: 150px;
    background-image:url(../Images/right-arrow.png);
}
.leftBubble{
    word-break: break-word;
    border-radius: 30px;
    font-size: 30px;
    box-sizing: border-box;
    margin: 10px 50px 10px 10px;
    background-color: blueviolet;
    width: calc(100% - 100px);
    padding: 20px;

}
.rightBubble{
    
    word-break: break-word;
    border-radius: 30px;
    font-size: 30px;
    box-sizing: border-box;
    margin: 10px 10px 10px 50px;
    background-color: rgb(43, 46, 226);
    width: calc(100% - 55px);
    padding: 20px;
    
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #808080;
}
::-webkit-scrollbar-thumb{
    background: #000;
    border-radius:8px;
}

